.sec-writing-test {
    padding: 20px 10px;

    .writing-test-common {
        &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 20px;

            .title-text {}

            .box-number {}
        }

        &__content {
            p {
                font-weight: normal;
                margin-bottom: 15px;
                line-height: 1.25;
                font-size: 15px;
            }

            textarea {
                background: #f3f3f3;
                border-radius: 5px;
                width: 100%;
                min-height: 500px;
                padding: 20px;
            }
        }
    }
}